.keys {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
    gap: 1rem;

}

.key.--playing {
    background-color: var(--primary);
    color: var(--dark1);
    border: none;
    transform: scale(1.1);
}

.key {
    /* width: 4rem;
    height: 4rem; */
    background-color: var(--dark1);
    border: 1px solid var(--dark2);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    transition: transform 0.5s;
    
}
.key kbd {
    font-size: 2rem;
    /* border: 1px solid red; */
}
.sound {
    font-size: 0.8rem;
    margin-top: -0.5rem;
    /* color: var(--primary); */
}